@charset "utf-8";
/* webrx CSS Document */

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	
}
address, cite, dfn, em, var {
	font-style:normal
}

small {
	font-size:12px
}
ol, ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}

fieldset, img {
	border:0;
	vertical-align:top
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;/* 重合的边框 合并*/
	border-spacing:0
}

.clear {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	clear:both;
	zoom:1
}

/*-------------------------------------------清除默认*/
body{ font-family:"微软雅黑"; font-size:12px; background:#300243/* url(../images/huodongbg.png) no-repeat center*/; height:auto }
.container{ width:1000px; margin:0 auto;}
/*-------------------------------------------导航nav*/
.nav{ height:70px; margin-top:40px; margin-bottom:30px}
.pic{ float:left}
.nav ul{ float:right; background:url(../images/menubg1.gif) repeat-x; height:66px; width:750px;}
.nav ul a{ display:block; font-size:20px; color:#fff; height:56px; padding-top:10px}
.nav ul span{ display:block; font-size:10px; margin-top:0px}
.nav ul li{ float:left; text-align:center;height:66px; width:107px}
.nav a:hover { text-decoration:none; background:url(../images/menubg.gif) repeat-x center;}
.nav a:hover ,.active{ background:url(../images/menubg.gif) repeat-x center}
/*-------------------------------------------new*/
.activity{ height:530px;}
.activity .a-right{ height:530px; float:left; width:420px }
.a-left{ width:580px; float:left;  height:530}

.a-left .ac{ margin-top:70px; float:left; height:360px; width:135px; background:url(../images/huodongbg2.png); font-size:24px; font-weight:500; color:#fff; text-align:center; padding-top:100px}
.a-left span{ font-size:12px;}
.a-left .p1{ margin-bottom:20px}
.a-left .p2{ line-height:25px}

.a-left .act{ height:430px; width:445px; background:url(../images/huodongbg2.png) repeat; float:left;/* opacity:0.6;*/ padding-top:30px; margin-top:70px;}
.a-left .act span{ font-size:16px; color:#fff; font-weight:600;}
.a-left .act p{ color:#fff; line-height:25px; padding-left:20px; padding-right:20px; text-indent:2em}

/*.a-right{ background:url(../images/hd_hj.jpg); height:530px; width:420px; }
.a-right .two{ margin:60px 0px}
.a-right .aa{ padding-top:115px; padding-left:60px}
.a-right .one li{ float:left; padding-right:80px ;}*/





.return{ background:url(../images/menubg1.gif) repeat-x; height:60px; margin-top:50px;/* clear:both*/}
.return p{ font-size:20px; color:#fff; padding-top:15px}



.footer{ height:100px;}
.footer p{ text-align:center; font-size:16px; color:#fff; padding-top:40px}
