@charset "utf-8";
/* webrx CSS Document */

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	
}
address, cite, dfn, em, var {
	font-style:normal
}

small {
	font-size:12px
}
ol, ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}

fieldset, img {
	border:0;
	vertical-align:top
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;/* 重合的边框 合并*/
	border-spacing:0
}

.clear {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	clear:both;
	zoom:1
}

/*-------------------------------------------清除默认*/
body{ font-family:"微软雅黑"; font-size:12px; background:#300243;}
.container{ width:1000px; margin:0 auto;}
/*-------------------------------------------导航nav*/
.nav{ height:70px; margin-top:40px}
.pic{ float:left}
.nav ul{ float:right; background:url(../images/menubg1.gif) repeat-x; height:66px; width:750px;}
.nav ul a{ display:block; font-size:20px; color:#fff; height:56px;/* padding-right:18px; padding-left:17px*/; padding-top:10px}
.nav ul span{ display:block; font-size:10px; margin-top:0px}
.nav ul li{ float:left; text-align:center;height:66px; width:107px;}
.nav a:hover { text-decoration:none; background:url(../images/menubg.gif) repeat-x center;}
.nav a:hover ,.active{ background:url(../images/menubg.gif) repeat-x center;}

/*-------------------------------------------new*/
.new{ height:430px; margin-top:30px}
.new .left{ width:410px; height:auto; float:left; margin-right:10px;}
.new .right{ width:580px; height:auto; float:left;}

.new .left .one{ height:110px; width:410px; background:#007d1f;  margin-bottom:10px}
.new .left .one p{ padding-top:20px; font-size:20px; color:#fff;}
.new .left .one p span{ display:block; font-size:14px;}
.new .left .one .p1, .p2{ float:left}
.new .left .one .p1{ padding-left:120px}

.new .left .two{ height:280px; width:410px; overflow:hidden}
.new .right .news{ padding:15px 0; padding-left:20px; padding-right:20px; background:#3f0457; height:340px}

.news ul li{ color:#fff;}
.news ul li a{ color:#fff; font-size:14px; display:block; float:left; height:28px; line-height:28px; width:390px;}
.news ul li span{ height:28px; line-height:28px; width:80px; text-align:center; float:right }





.page ul{ float:right; margin-top:10px}
.page li{ float:left; margin:0px 10px; border:1px #fff solid; height:20px; width:20px; text-align:center}
.page ul .last{ width:50px; height:20px}
.page li a{ display:block; height:20px; width:20px; color:#fff;}
.page ul .last a{ display:block; height:20px; width:50px}
.page li a:hover{ background:#fff; color:#000; text-decoration:none;}


/*-------------------------------------------回到首页*/
.go-top{ height:60px; margin-top:25px; background:url(../images/menubg1.gif) repeat-x}
.go-top p{ font-size:20px; color:#fff; font-weight:bolder; padding-top:15px}




/*-------------------------------------------底部*/
.footer{ height:100px;}
.footer p{ text-align:center; font-size:16px; color:#fff; padding-top:40px}
