@charset "utf-8";
/* webrx CSS Document */

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	
}
address, cite, dfn, em, var {
	font-style:normal
}

small {
	font-size:12px
}
ol, ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}

fieldset, img {
	border:0;
	vertical-align:top
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;/* 重合的边框 合并*/
	border-spacing:0
}

.clear {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	clear:both;
	zoom:1
}

/*-------------------------------------------清除默认*/
body{ font-family:"微软雅黑"; font-size:12px; background:#300243/* url(../images/huodongbg.png) no-repeat center*/; height:auto }
.container{ width:1000px; margin:0 auto;}
/*-------------------------------------------导航nav*/
.nav{ height:70px; margin-top:40px; margin-bottom:30px}
.pic{ float:left}
.nav ul{ float:right; background:url(../images/menubg1.gif) repeat-x; height:66px; width:750px;}
.nav ul a{ display:block; font-size:20px; color:#fff; height:56px; padding-top:10px}
.nav ul span{ display:block; font-size:10px; margin-top:0px}
.nav ul li{ float:left; text-align:center;height:66px; width:107px}
.nav a:hover { text-decoration:none; background:url(../images/menubg.gif) repeat-x center;}
.nav a:hover ,.active{ background:url(../images/menubg.gif) repeat-x center}

/*-------------------------------------------导航结束*/
.Overview { height:636px}
.Overview .left{ height:360px; width:135px; margin-right:10px; float:left}
.Overview .right{ height:636px; width:855px; float:left; background:#fff;}

.left .le{ height:360px; width:135px; background:#09630E }
.left .le p{ font-size:24px; color:#fff; text-align:center; padding-top:20px}
.left .le em{ font-size:12px; font-style:normal;}
.left .le .p1{ line-height:30px}
.left .le .p2{ padding-top:60px}
/*-------------------------------------------left结束*/
.right .ri{ padding-top:20px}
.right .p3{ text-align:center; color:#000; font-size:20px; height:50px; border-bottom:2px #057721 solid; line-height:50px; width:800px; margin:0 auto}
.right .p4{ float:right; padding-right:25px ;}
.right .p5{ padding-top:50px; font-size:14px; padding-left:60px; padding-right:60px; text-indent:2em; line-height:25px}
.right .p6{ font-size:14px; padding-left:60px; padding-right:60px; text-indent:2em; line-height:25px}
.right .p7{ color:#000; font-size:20px; height:50px; border-bottom:2px #057721 solid; line-height:50px; width:800px; margin:0 auto; padding-top:50px}
.right ul{ padding-left:40px; padding-top:20px}
.right ul a{ font-size:14px; color:#000; height:30px; line-height:30px; width:400px}
.right ul span{ float:right; height:30px; line-height:30px; width:100px; text-align:center;}

/*-------------------------------------------new结束*/
.return{ background:url(../images/menubg1.gif) repeat-x; height:60px; margin-top:50px;/* clear:both*/}
.return p{ font-size:20px; color:#fff; padding-top:15px}
/*-------------------------------------------return结束*/


.footer{ height:100px;}
.footer p{ text-align:center; font-size:16px; color:#fff; padding-top:40px}
